<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>Городская клиническая больница</title>
    <style>
        li {
        list-style-type: none;
        }
        ul {
        padding-left: 0;

    </style>

    <link rel="shortcut icon" href="favicon.ico" type = "image/x-icon">

</head>
<body background="backround.jpg">
<h1 align="center">Городская клиническая больница </h1>
<p> <img src = "dif_logo2.png" alt="Городская клиническая больница картинка">
    <!--<form action="handler.php">-->
    <!--<p align="right"><strong>Логин:</strong>-->
    <!--<input maxlength="25" size="33" name="login"></p>-->
    <!--<p align="right"><strong>Пароль:</strong>-->
    <!--<input type="password" maxlength="25" size="25" name="password">-->
    <!--<input type="submit" value="Войти"> </p>-->
    <!--</form>-->
</p>

<form>
    <p><input type="search" name="q" placeholder="Поиск по сайту">
        <input type="submit" value="Найти"></p>
</form>
<form>
    <p> <strong> Выбрать отделение </strong> </p>
    <p><select name ="department">
        <option value="s1">Кардиологическое отделение</option>
        <option value="s2" >Хирургическое отделение</option>
        <option value="s3">Терапевтическое отделение</option>
        <option value="s4">Неврологическое отделение</option>
        <option value="s5">Пульмонологическое отделение</option>
        <option value="s6">Гинекологическое отделение</option>
    </select>
        <input type="submit" value="Ок"> </p>
</form>
</body>
</html>
